StealthMarsRover Website/.vs/
StealthMarsRover Website/obj/
StealthMarsRover Website/StealthMarsRover.Api/obj/
StealthMarsRover Website/StealthMarsRover.Service/bin/
StealthMarsRover Website/StealthMarsRover.Service/obj/
StealthMarsRover Website/StealthMarsRover.UnitTest/obj/
StealthMarsRover Website/StealthMarsRover/obj/
StealthMarsRover Website/StealthMarsRover/bin/
